# This is the beginning of my code
- import the NARS monthly spreadsheet
- breakdown into individual sheets each company
- for more information *http://www.junkcrap.com*

In [45]:
#!/usr/bin/env python
import pandas as pd
import os
import time
import datetime
pd.set_option('display.max_rows', 6600)
pd.set_option('display.max_columns', 100)
datestr = time.strftime("%Y%m%d_%H%M%S")

# Calculate the last day of the previous month to get the Accounting Date
today = datetime.date.today()
first = today.replace(day=1)
lastMonth = first - datetime.timedelta(days=1)
accdate = lastMonth.strftime("%Y%m%d")

xlsx_file = accdate + "_" + datestr+"_nars_spreadsheet.xlsx"
input_file = "nars.csv"

if os.path.exists(xlsx_file):
    os.remove(xlsx_file)
    
nars_df = pd.read_csv(input_file, sep='|', header=0, encoding = "ISO-8859-1")

In [46]:
# nars_df.set_index(['claim_nbr'], inplace=True)

In [47]:
#  fixing bad dates
nars_df['eff_date'] = pd.to_datetime(nars_df['eff_date'],  errors="coerce")
nars_df['exp_date'] = pd.to_datetime(nars_df['exp_date'],  errors="coerce")
nars_df['date_opened'] = pd.to_datetime(nars_df['date_opened'],  errors="coerce")
nars_df['date_closed'] = pd.to_datetime(nars_df['date_closed'],  errors="coerce")
nars_df['acc_date'] = pd.to_datetime(nars_df['acc_date'],  errors="coerce")
nars_df['date_reported'] = pd.to_datetime(nars_df['date_reported'],  errors="coerce")
nars_df['date_reopened'] = pd.to_datetime(nars_df['date_reopened'],  errors="coerce")

# create the eff_year variable - yes this could be done in one statement but
# harder to debug
nars_df['eff_year'] = nars_df['eff_date'].dt.to_period('Y')
nars_df['policy_year'] = nars_df['eff_year']

In [48]:
# nars_df['eff_date'] = nars_df['eff_date'].dt.date
#

In [49]:
# had to search for DELOS using the .contains since the client location contains a space 
delos_df = nars_df[nars_df['client_location'].str.contains("104")] 
starr_df = nars_df[nars_df.client_location=='SILC']
axis_df = nars_df[nars_df.client_location=="AX1"]
gsn_df = nars_df[nars_df.client_location=="SC2"]

In [50]:
# assign effective year for sorting - this does not work
# delos_df['eff_year'] = delos_df['eff_date'].dt.to_period('Y')
# starr_df['eff_year'] = starr_df['eff_date'].dt.to_period('Y')
# axis_df['eff_year'] = axis_df['eff_date'].dt.to_period('Y')
# gsn_df['eff_year'] = gsn_df['eff_date'].dt.to_period('Y')

In [51]:
# nars_df = nars_df.infer_objects()
# print(nars_df.dtypes)

In [52]:
# print(nars_df['eff_date'])

In [53]:
# new_date = pd.to_datetime(nars_df['eff_date'], format='%m/%d/%Y', errors='coerce')

In [54]:
# new_date

In [55]:
# nars_df.loc[612]

In [56]:
# nars_df.loc[612]

In [57]:
bad_df = nars_df.query('eff_date == "NaT"')

In [58]:
# bad_df

In [59]:
# bad_status_df = bad_df.query('claim_status != "CLOSED"')

In [16]:
with pd.ExcelWriter(xlsx_file, 
                    date_format='yyyy-mm-dd', 
                    datetime_format='yyyy-mm-dd') as writer:  
    nars_df.to_excel(writer, sheet_name="All - Detail")
    delos_df.to_excel(writer, sheet_name='DELOS - Detail')
    starr_df.to_excel(writer, sheet_name='STARR - Detail')
    axis_df.to_excel(writer, sheet_name='AXIS - Detail')
    gsn_df.to_excel(writer, sheet_name='GSN - Detail')
    bad_df.to_excel(writer, sheet_name="BAD RECORDS")

# Now do the claim count by year for each company
- All Companies
- Delos
- Starr
- Axis
- Scor/GSN

In [60]:
nars_df.loc[612]

client_location                                                      AX1
profile_center                                                         1
lob                                                                   PL
agent                                WELLS FARGO INS. SERVICES USA, INC.
insured                            UNITED STATES SOCCER FEDERATION, INC.
insured_state                                                         IL
policy_nbr                                                AXGL0410003011
risk_st                                                               CA
risk_nbr                                                             NaN
policy_year                                                          NaT
eff_date                                                             NaT
exp_date                                                             NaT
claim_nbr                                                   GGAX18020014
claim_type                                             General Liability
prev_claim_nbr                                                       NaN
acc_date                                             2011-09-01 00:00:00
description            Allegation of sexual abuse. Notice Only. See a...
description2                                                         NaN
acc_code                                                 EPL/Harrassment
acc_location                                                         UNK
acc_city                                                             UNK
acc_state                                                             CA
jurisdiction_state                                                   NaN
claim_status                                                      CLOSED
claim_adjuster                                              WHOFFMEISTER
claim_term                                                     MTRAPASSO
date_reported                                        2018-02-12 00:00:00
date_opened                                          2018-02-13 00:00:00
date_closed                                          2018-02-14 00:00:00
date_reopened                                                        NaT
cat_nbr                                                                0
ind_paid                                                               0
med_paid                                                               0
exp_paid                                                               0
alae_paid                                                              0
ulae_paid                                                              0
ind_reserve                                                            0
med_reserve                                                            0
exp_reserve                                                            0
subr_recovery                                                       0.00
salvage_recovery                                                    0.00
deductible_recovery                                                 0.00
net_incurred                                                           0
eff_year                                                             NaT
Name: 612, dtype: object

In [61]:
# nars_df['net_incurred'] = pd.to_numeric(nars_df['net_incurred'], downcast='float', errors='coerce')
# nars_df['net_incurred'].dtype
# nars_df['net_incurred']

In [62]:
# gsn_df.sort_values(by='eff_year', ascending=False)

In [63]:
gsn_df.groupby(['eff_year']).mean()

,cat_nbr,ind_paid,med_paid,exp_paid,alae_paid,ulae_paid,ind_reserve,med_reserve,exp_reserve,net_incurred
eff_year,,,,,,,,,,
2018,0.0,0.000000,0.0,11.000000,11.000000,0.0,0.000000,0.0,0.000000,11.000000
2019,0.0,10068.917302,0.0,1030.078889,674.412222,0.0,17198.040317,0.0,1308.701905,29605.738413
2020,0.0,1840.826667,0.0,258.440000,258.440000,0.0,1752.295000,0.0,1250.000000,5101.561667

In [64]:
pd.Series([]).sum()

0.0

In [65]:
gsn_year_df = pd.concat([gsn_df['claim_nbr'],gsn_df['eff_year'], gsn_df['net_incurred']], axis=1, keys=['Claim_Number','eff_year', 'net_incurred'])

In [66]:
pd.to_numeric(gsn_year_df['net_incurred'], downcast='signed')

3291         0.00
3292     35668.50
3293      3098.40
3294       147.00
3295      2630.64
3296      7371.53
3297       231.00
3298         0.00
3299       546.00
3300         0.00
3301      4427.00
3302        11.00
3303      2742.03
3304       693.00
3305      1134.00
3306     14827.79
3307     16512.01
3308      4485.13
3309      1041.50
3310      4402.51
3311     19682.65
3312         0.00
3313      1291.50
3314      9386.98
3315      4528.94
3316    205000.00
3317     13727.29
3318     40000.00
3319     21620.00
3320      2500.00
3321     41500.00
3322     43000.00
3323      1383.83
3324      1521.70
3325      4500.00
3326      5500.00
3327         0.00
3328         0.00
3329      3000.00
3330      1255.73
3331    505000.00
3332         0.00
3333     12000.00
3334     46900.00
3335     47000.00
3336         0.00
3337     15000.00
3338        15.00
3339        15.00
3340      8708.92
3341       758.40
3342        15.00
3343    613868.00
3344      1254.94
3345     20000.00
3346     18500.00
3347     10049.97
3348      8000.00
3349        15.00
3350     25000.00
3351     10500.00
3352      5000.00
3353      2800.00
3354     14500.00
3355      2501.00
3356      2501.00
3357         0.00
3358      2501.00
3359      1009.00
3360      1501.00
3361      1501.00
Name: net_incurred, dtype: float64

In [68]:
gsn_year_df.groupby(['eff_year']).sum()

          net_incurred
eff_year
2018             11.00
2019        1865161.52
2020          30609.37

In [38]:
gsn_year_df = gsn_year_df.infer_objects()

In [39]:
print(gsn_year_df.dtypes)

Claim_Number           object
eff_year        period[A-DEC]
Net_Incurred           object
dtype: object